backports.functools-lru-cache==1.6.4
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.10.8
chardet==4.0.0
click==7.1.2
colorama==0.4.4
et-xmlfile==1.0.1
idna==2.10
jdcal==1.4.1
lxml==4.7.1
openpyxl==2.6.4
prettytable==1.0.1
pudb==2019.2
pycurl==7.43.0.5
Pygments==2.5.2
pymongo==3.12.3
python-Levenshtein==0.12.2
requests==2.26.0
soupsieve==1.9.6
urllib3==1.26.7
urwid==2.1.2
wcwidth==0.2.5
